.araba{width: 600px; 
height: 285px; 
margin: 100px auto;}

.sirenler{width: 60px; 
height: 30px; 
margin: 0 auto;}

.solsiren{width: 30px;
height: 30px;
background-color: #03f;
float: left;
border-radius: 15px 0 0 0;}

.sagsiren{width: 30px;
height: 30px;
background-color: #f00;
float: left;
border-radius: 0 15px 0 0;}

.camlar{width: 404px; 
height: 82px; 
margin: 0 auto;}

.solcam{width: 200px;
height: 80px;
background-color: #f3f3f3;
float: left;
border-left: 1px solid #ccc;
border-top: 1px solid #ccc;
border-right: 1px solid #ccc;
border-radius: 70px 0 0 0;}

.sagcam{width: 200px;
height: 80px;
background-color: #f3f3f3;
float: left;
border-right: 1px solid #ccc;
border-top: 1px solid #ccc;
border-radius: 0 70px 0 0;}

.arka{width: 25px; 
height: 90px; 
float: left;
margin: 20px 0 0 0;}

.stoplamba{width: 6px;
height: 60px;
background-color: #900;
margin: 6px 0 0 19px;}

.egsoz{width: 25px; 
height: 10px;
background-color: #000;
margin: 5px 0 0 0;}

.solkaporta{width: 273px; 
height: 100px; 
float: left;
background-color: #03f;
border-radius: 30px 0 0 20px;
border: 1px solid #009;
font: 60px tahoma;
color: #fff;
text-align: right;
padding: 20px 0 0 0;}

.sagkaporta{width: 290px;
height: 100px;
float: left;
background-color: #03f;
border-radius: 0 30px 20px 0;
border: 1px solid #009;
font: 60px tahoma;
color: #fff;
padding: 20px 0 0 0;}

.far{width: 6px;
height: 60px;
float: left;
background-color: #ff9;
border-top: 2px solid #fc3;
border-right: 2px solid #fc3;
border-bottom: 2px solid #fc3;
border-radius: 0 6px 6px 0;
margin: 30px 0 0 0;}

.sollastik{width: 80px;
height: 80px;
float: left;
border-radius: 40px;
margin: -30px 0 0 100px;
background-color: #000;}

.saglastik{width: 80px;
height: 80px;
float: left;
border-radius: 40px;
margin: -30px 0 0 270px;
background-color: #000;}

.jant{width: 60px;
height: 60px;
background-color: #ddd;
border-radius: 30px;
margin: 10px 0 0 10px;}

.solkapikolu{width: 15px;
height: 4px;
background-color: #000;
margin: 20px 0 0 70px;}

.sagkapikolu{width: 15px;
height: 4px;
background-color: #000;
margin: 20px 0 0 10px;}